{% extends 'base.html' %}

{% block content %}
<div class="conainer">
    <h1>Welcome to the Snooker App</h1>
    <div class="row mt-5">
        <div class="com-md-4">
            <h3>Actions</h3>
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'login' %}" class="btn btn-primary btn-block">Login</a></li>
                <li class="list-group-item"><a href="{% url 'register' %}" class="btn btn-success btn-block">Register</a></li>
                <li class="list-group-item"><a href="{% url 'match_list' %}" class="btn btn-info btn-block">Temporary Match</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
